.navbar {
  height: 5em;
  font-size: 20px;
  background: #ffde96 !important;
  border-bottom: solid 2px black;
  font-family: "Bangers";
}
.navbar-brand {
  font-size: 50px !important;
  color: rgb(0, 0, 0) !important;
  margin-left: 2em;
}
.navbar-text {
  color: rgb(0, 0, 0) !important;
}
.navbar a {
  color: rgb(0, 0, 0) !important;
}
.navbar a:hover {
  color: #fcfcfc !important;
}
div {
  text-align: center;
  font-family: "Bangers";
  color: black;
}
.alert-warning {
  width: 400px !important;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
#translateTitle {
  margin-top: 20px;
}
#profileTitle {
  margin-top: 20px;
}
.btn {
  color: rgb(0, 0, 0) !important;
  background: #ffde96 !important;
  border: 2px solid rgb(0, 0, 0) !important;
  width: 100px;
  height: 40px;
  margin-top: 20px;
}
.btn:hover {
  color: #ffffff !important;
}
.form-group {
  color: black !important;
  margin-top: 20px;
  width: 40% !important;
  display: inline-block;
}
.form-control {
  text-align: center !important;
}
label {
  margin-top: 20px;
}
body {
  background: #ffffff !important;
}
#letterDiv {
  display: inline-block;
}
#loginDiv {
  margin-top: 20px;
}
input,
textarea {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}
::placeholder {
  color: rgba(31, 31, 31, 0.753) !important;
}
